<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ysu.ckqaback.mapper.CoursesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.ysu.ckqaback.entity.Courses">
        <id column="id" property="id" />
        <result column="is_deleted" property="isDeleted" />
        <result column="course_id" property="courseId" />
        <result column="course_name" property="courseName" />
        <result column="description" property="description" />
        <result column="status" property="status" />
        <result column="access_policy" property="accessPolicy" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, is_deleted, course_id, course_name, description, status, access_policy, created_at, updated_at
    </sql>

</mapper>
