<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ysu.ckqaback.mapper.QaSessionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.ysu.ckqaback.entity.QaSessions">
        <id column="id" property="id" />
        <result column="session_code" property="sessionCode" />
        <result column="user_id" property="userId" />
        <result column="course_id" property="courseId" />
        <result column="course_membership_id" property="courseMembershipId" />
        <result column="knowledge_base_id" property="knowledgeBaseId" />
        <result column="title" property="title" />
        <result column="status" property="status" />
        <result column="last_message_at" property="lastMessageAt" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, session_code, user_id, course_id, course_membership_id, knowledge_base_id, title, status, last_message_at, created_at, updated_at
    </sql>

</mapper>
