<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ysu.ckqaback.mapper.UsersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.ysu.ckqaback.entity.Users">
        <id column="id" property="id" />
        <result column="user_code" property="userCode" />
        <result column="username" property="username" />
        <result column="display_name" property="displayName" />
        <result column="password_hash" property="passwordHash" />
        <result column="status" property="status" />
        <result column="last_login_at" property="lastLoginAt" />
        <result column="extra_metadata" property="extraMetadata" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_code, username, display_name, password_hash, status, last_login_at, extra_metadata, created_at, updated_at, is_deleted
    </sql>

</mapper>
